mixin footer()
  footer.footer
    .container-wrapper
      .footer__top
        h2 Присоединяйтесь к Bitcoin World
        a.button.button_blue(href="") Бесплатная регистрация
      .footer__bottom
        .row.center.between
          .col__20
            .row.center
              a.header__logo(href="index.html")
              .header__logo__row
                span.header__logo__text-1 Bitcoin
                span.header__logo__text-2 World
          .col__60.ta-center
            p.footer__bottom__copy "All rights reserved. Copyright © 2016
              a(href="") bitcoinworld.biz
          .col__20.row.end
            a.footer__bottom__fb(href="")
              
            
          
        