extends layout
include mixins.pug

block content
  header.header
    .container-wrapper
      .header__container
        .row.center
          .col__50
            .row.center 
              .col__50.row.center
                a(href="index.html").header__logo
                .header__logo__row
                  span.header__logo__text-1 Bitcoin
                  span.header__logo__text-2 World
              .col__50
                .header__lang.jsLangSelector
                  .header__lang__button.ru
                  ul.header__lang__selector.animated.zoomIn
                    li.header__lang__item.header__lang__item_active
                      a(href="").header__lang__link.ru Russian  
                    li.header__lang__item
                      a(href="").header__lang__link.eng English  
                    li.header__lang__item
                      a(href="").header__lang__link.de German  
                    li.header__lang__item
                      a(href="").header__lang__link.es Spain  
                    li.header__lang__item
                      a(href="").header__lang__link.it Italy  
                    li.header__lang__item
                      a(href="").header__lang__link.cn China  
                    li.header__lang__item
                      a(href="").header__lang__link.jp Japan  
                    li.header__lang__item
                      a(href="").header__lang__link.nl Netherland
                    li.header__lang__item
                      a(href="").header__lang__link.pl Poland
                    li.header__lang__item
                      a(href="").header__lang__link.fr France
          .col__50
            +header-landing()
  section.section__top.parallax(style='background: url(../images/background/1.jpg) repeat scroll center' data-parallax-speed="1")
    .container-wrapper
      .row.center-c
        h1.section__top__h1 Присоединяйтесь и получайте гарантированную прибыль до <span>35%</span> в месяц
    .section__top__intro-wrapper
      .section__top__intro.row.layer-parallax
        .section__top__layer.layer(data-depth="0.1")
          img(src="images/layer/4.png", alt="")
        .section__top__layer.layer(data-depth="0.2")
          img(src="images/layer/6.jpg", alt="")
        .section__top__layer.layer(data-depth="0.3")
          img(src="images/layer/2.jpg", alt="")
        .section__top__layer.layer(data-depth="0.4")
          img(src="images/layer/5.jpg", alt="")
        .section__top__layer.layer(data-depth="0.3")
          img(src="images/layer/3.jpg", alt="")
        .section__top__layer.layer(data-depth="0.2")
          img(src="images/layer/7.jpg", alt="")
        .section__top__layer.layer(data-depth="0.1")
          img(src="images/layer/1.jpg", alt="")
  section.section__referal
    .container-wrapper
      .row 
        .col__50 
          h2 9 уровневая Реферальная программа
          p Корпорации нашего времени понимают, что расширять бизнес в одиночку стоит, лишь имея в запасе несколько десятков лет или огромные суммы на рекламу. Однако время – это деньги, пустые временные потери – ваш провал, как бизнесмена и лидера. Чтобы расширяться, нужны партнеры по всему миру готовые продвигать ваш продукт за вознаграждение. Не те, которые за деньги продадут даже некачественный продукт, в котором ничего не смыслят. Нашей компании необходимы люди, которые понимают, что рекламируют, одобрительно относящиеся к концепции компании, смотрящие с ней в одну сторону.
          a(href="").button Регистрация
        .col__50 
          .section__referal__ipad
  section.section__vid.parallax(style='background: url(../images/background/3.jpg) no-repeat scroll center' data-parallax-speed="1")
    .container-wrapper
      .row.center-c
        .section__vid__app
          span.section__vid__app__play
          span.section__vid__app__span Watch our intro video
  section.section__about
    .container-wrapper
      h2 О нас говорят
      .section__about__slider
        .jsSlick-0
          -for (var x = 0; x < 3 ; x ++ )
            .slide
              .section__about__img 
                img(src="images/userpic/2.jpg", alt="")
              .section__about__span John Doe
              .section__about__text
                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
  section.section__managment
    .container-wrapper
      h2 Руководство компании
      .row 
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/3.jpg", alt="").section__managment__img
          span.section__managment__name CEO Remigijus Mikalauskas
          span.section__managment__post Director-General
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/4.jpg", alt="").section__managment__img
          span.section__managment__name CFO Oliver Blare
          span.section__managment__post Chief Financial Officer
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/5.jpg", alt="").section__managment__img
          span.section__managment__name CTO Kert Hallik
          span.section__managment__post Chief Technical Officer
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/6.jpg", alt="").section__managment__img
          span.section__managment__name CIO Emma Dean
          span.section__managment__post Chief Information Officer
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/7.jpg", alt="").section__managment__img
          span.section__managment__name COO Valter Berg
          span.section__managment__post Executive Director
      .row 
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/8.jpg", alt="").section__managment__img
          span.section__managment__name CCO Mason Nash
          span.section__managment__post Director of the negotiation and enforcement procedures
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/9.jpg", alt="").section__managment__img
          span.section__managment__name CSO Karl Östlund
          span.section__managment__post Chief Security Officer
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/10.jpg", alt="").section__managment__img
          span.section__managment__name СМО William Sheldon
          span.section__managment__post Chief Marketing Officer
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/11.jpg", alt="").section__managment__img
          span.section__managment__name CDO Owen Vance
          span.section__managment__post Director of Data Management
        .section__managment__item
          .section__managment__img-wrapper
            img(src="images/userpic/12.jpg", alt="").section__managment__img
          span.section__managment__name CAO Sara Nyberg
          span.section__managment__post Director of the Analytical Department
  section.section__tarif.parallax(style='background: url(../images/background/4.jpg) repeat scroll center' data-parallax-speed="1")
    .container-wrapper
      h2 Тарифы Bitcoin World
      p Общая мощность оборудования компании составляет более 32 PH/s. Добыча биткоина с учетом уполовинивания награды и растущей сложностью системы составляет от 997 BTC и выше, что с учетом колебаний курса составляет 727 679$.
      .row.section__tarif-wrapper 
        .section__tarif__item.col__25 
          span.section__tarif__str-1 Серверы
          span.section__tarif__str-2 S1-S7
        .section__tarif__item.col__25
          span.section__tarif__str-1 Прибыль в день
          span.section__tarif__str-2 %
        .section__tarif__item.col__25 
          span.section__tarif__str-1 Срок аренды
          span.section__tarif__str-2 дней
        .section__tarif__item.col__25 
          span.section__tarif__str-1 Стоимость аренды
          span.section__tarif__str-2 USD
  section.section__table
    .container-wrapper
      table.section__table-content
        tr
          td Server S1 62.5-8125 Gh/s
          td 1.08-1.1%
          td 300
          td от 10 до 1300 $
        tr
          td Server S2 625-18750 Gh/s
          td 1.12-1.14%
          td 300
          td от 100 до 3000 $
        tr
          td Server S3 5625-62500 Gh/s
          td 1.26-1.28%
          td 270
          td от 900 до 10000 $
        tr
          td Server S4 18750-156250 Gh/s
          td 1.3-1.32%
          td 270
          td от 3000 до 25000 $
        tr
          td Server S5 31250-312500 Gh/s
          td 1.49-1.51%
          td 240
          td от 5000 до 50000 $
        tr
          td Server S6 93750-937500 Gh/s
          td 1.53-1.55%
          td 240
          td от 15000 до 150000 $
        tr
          td Server S7 156250-3125000 Gh/s
          td 1.58-1.6%
          td 240
          td от 25000 до 500000 $
      .section__table__button-wrapper
        .row.center
          a.button(href="") Арендуйте сервер сейчас
          span.section__table__span * получайте прибыль уже завтра